.square1 {
	font-family: helvetica, arial, sans-serif;
}

.square1 img {
	display:none;
}

.image_wrapper {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: none;
	background-size: 0;
	background-position:center center;
	background-repeat:no-repeat;
}

.image_wrapper * {
	opacity:0;
}

.image_wrapper > a {
	display:block;
	width:100%;
	height:100%;
}

.square1_caption {
	position:absolute;
	bottom:-54px;
	left:0;
	right:0;
	text-align:center;
	display:none;
}

.square1_prev_image,.square1_next_image {
	position:absolute;
	top:50%;
	left:20px;
	width:40px;
	height:40px;
	background:rgba(40,40,40,.5);
	color: rgba(255,255,255,.3);
	cursor:pointer;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	z-index:1000;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
}

.square1_prev_image:before,.square1_next_image:before {
	content:"\25C4";
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	font-size:20px;
	line-height:20px;
	text-indent:0;
}

.square1_next_image:before {
	content:"\25BA";
}

.square1_prev_image:hover,.square1_next_image:hover {
	background:rgba(40,40,40,.8);
	color: rgba(255,255,255,.8);
}

.square1_next_image {
	left:auto;
	right:20px;
}

.square1_dots {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
	z-index:1000;
	overflow:hidden;
}

.square1_dots span {
	position:relative;
	display:inline-block;
	margin:0;
	padding:7px;
	cursor:pointer;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
}

.square1_dots span:before {
	content:" ";
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:5px;
	background:rgba(100,100,100,.4);
}

.square1_dots span.current:before {
	background:rgba(40,40,40,.8);
	box-shadow:0 0 4px 1px rgba(255,255,255,.4);
}

.square1_dots span:hover:before {
	background:rgba(40,40,40,.8);
	box-shadow:0 0 2px rgba(255,255,255,.4);
}


/* custom settings styles */

.fill_mode-contain .image_wrapper {
	background-size: contain;
}

.fill_mode-cover .image_wrapper {
	background-size: cover;
}



.prev_next_nav-outside .square1_prev_image {
	left: -60px;
}

.prev_next_nav-outside .square1_next_image {
	right: -60px;
}

.prev_next_nav-hover .square1_prev_image {
	left: -60px;
	opacity: 0;
}

.prev_next_nav-hover:hover .square1_prev_image{
	left: 20px;
	opacity: 1;
}

.prev_next_nav-hover .square1_next_image {
	right: -60px;
	opacity: 0;
}

.prev_next_nav-hover:hover .square1_next_image{
	right: 20px;
	opacity: 1;
}

.prev_next_nav-none .square1_prev_image,
.prev_next_nav-none .square1_next_image {
	display: none;
}



.dots_nav-inside .square1_caption,
.dots_nav-hover .square1_caption,
.dots_nav-none .square1_caption {
	bottom: -25px;
}

.dots_nav-outside .square1_dots {
	bottom: -34px;
}

.dots_nav-hover .square1_dots {
	bottom: -34px;
	opacity: 0;
	transition: bottom .3s ease, opacity .3s ease;
}

.dots_nav-hover:hover .square1_dots {
	bottom: 0;
	opacity: 1;
}

.dots_nav-none .square1_dots {
	display: none;
}