body {
	width: 90%;
	max-width: 700px;
	margin: 100px auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #a8f1ac;
	color: #0d0d0d;
	font-size: 20px;
	overflow-x: hidden;
}

* {
	font-weight: 300;
}

h1 {
	margin: 1em 0 .3em;
	font-size: 64px;
	font-weight: 100;
}

h2 {
	margin: 80px 0 0;
	font-weight: 400;
}

h3 {
	margin: 80px 0 0;
    font-size: 18px;
    letter-spacing: .05em;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
	margin: 0;
	font-weight: 600;
}

a {
	color: #2c571e;
}

a:hover {
	color: #3ab6b4;
}

b {
	font-weight: 700;
}

code {
	display: block;
	margin: 40px 0 15px;
	padding: 1em 2em;
	background: rgba(255,255,255,.4);
	white-space: pre;
	font-size: .7em;
	line-height: 1.3em;
}

hr {
	margin: 100px 200px;
	border: none;
	border-bottom: 1px solid #222;
}

[class*="slideshow"] {
	max-width: 700px;
	height: 470px;
	margin: 0 auto 40px;
	outline: none;
}

[class*="slideshow"] img {
	display:none;
}

.image_wrapper .text_content {
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: #fff;
	text-shadow: 0 0 3px rgba(0,0,0,.5);
	opacity: 1;
}

.text_content * {
	margin: .1em 0;
}

.status {
	position: relative;
	padding: 1em 2em;
	background: rgba(255,255,255,.4);
	font-size: 1em;
	color: #000;
}

.status::before {
	content: "Status: ";
	text-transform: uppercase;
	color: #555;
}

button {
	margin: 10px auto 50px;
	padding: .5em 1em;
	font-size: 1.2em;
	background: #0fe2d3;
	color: #444;
	border: 0;
	text-transform: uppercase;
	border-radius: 6px;
}

button:hover {
	background: #0cada3;
}

button:disabled {
	opacity: .5;
}

footer {
	margin: 8em 0 0;
	font-size: .7em;
}
